<div>
    <div *ngIf="authenticationInProgress">
        Loading...
    </div>
    <div class="form-group">
        <div>
            <label for="email">E-mail</label>
            <input [(ngModel)]="email" type="text" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input [(ngModel)]="password" type="password" id="password">
        </div>
        <div>
            <button (click)="onLogInButtonClick()">Log in</button>
        </div>
        <div>
            <button (click)="onRegisterButtonClick()">Register</button>
        </div>
    </div>
    
</div>