<div>
    <div *ngIf="authenticationInProgress">
        Loading...
    </div>
    <div class="form-group">
        <div>
            <label for="email">E-mail</label>
            <input [(ngModel)]="email" type="text" id="email">
        </div>
        <div>
            <label for="password1">Password</label>
            <input [(ngModel)]="password1" type="password" id="password1">
        </div>
        <div>
            <label for="password2">Repeat password</label>
            <input [(ngModel)]="password2" type="password" id="password2">
        </div>
        <div>
            <button (click)="onRegisterButtonClick()">Register</button>
        </div>
        <div>
            <button (click)="onLogInButtonClick()">Log in</button>
        </div>
    </div>
    
</div>